<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <!-- Spring will reference the instance of the HelloWorld class by the id name "helloService" -->
    <bean id="tjsServiceLoader" class="gmx.iderc.geoserver.tjs.TJSXStreamLoader">
        <constructor-arg ref="resourceLoader"/>
    </bean>

    <!-- TODO: remove this thing -->
    <bean id="tjsServiceLegacyLoader" class="gmx.iderc.geoserver.tjs.TJSLoader"/>

    <bean id="tjsServiceTarget" class="gmx.iderc.geoserver.tjs.DefaultTableJoiningService">
        <constructor-arg ref="geoServer"/>
    </bean>

    <bean id="tjsLocalWorkspaceURLManger" class="org.geoserver.ows.LocalWorkspaceURLMangler">
      <constructor-arg value="tjs"/>
    </bean>

    <bean id="tjsService" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces">
            <value>gmx.iderc.geoserver.tjs.TableJoiningService</value>
        </property>
        <property name="interceptorNames">
            <list>
                <value>tjsServiceTarget</value>
            </list>
        </property>
    </bean>
    <!-- This creates a Service descriptor, which allows the org.geoserver.ows.Dispatcher to locate it. -->
    <bean id="tjsService-1.0.0" class="org.geoserver.platform.Service">
        <!-- used to reference the service in the URL -->
        <constructor-arg index="0" value="tjs"/>

        <!-- our actual service POJO defined previously -->
        <constructor-arg index="1" ref="tjsService"/>

        <!-- a version number for this service -->
        <constructor-arg index="2" value="1.0.0"/>

        <!-- a list of functions for this service -->
        <constructor-arg index="3">
            <list>
                <value>getCapabilities</value>
                <value>describeFrameworks</value>
                <value>describeKey</value>
                <value>describeDatasets</value>
                <value>describeData</value>
                <value>getData</value>
                <value>describeJoinAbilities</value>
                <value>joinData</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="tjsURLMapping" class="org.geoserver.ows.OWSHandlerMapping">
        <constructor-arg ref="catalog"/>
        <property name="alwaysUseFullPath" value="true"/>
        <!--        <property name="interceptors">
                    <list>
                        <ref bean="citeComplianceHack"/>
                        <ref bean="xmlPostRequestLogBufferSize"/>
                    </list>
                </property>
        -->
        <property name="mappings">
            <props>
                <prop key="/tjs">dispatcher</prop>
                <prop key="/tjs/*">dispatcher</prop>
                <!--<prop key="/TestWfsPost">wfsTestServlet</prop>-->
            </props>
        </property>
    </bean>

    <!-- XML Readers -->
    <bean id="tjsGetCapabilitiesXmlReader-1.0.0"
        class="gmx.iderc.geoserver.tjs.xml.v1_0_0.TjsGetCapabilities">
        <constructor-arg index="0" value="GetCapabilities" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="entityResolverProvider" />
    </bean>
    <bean id="tjsDescribeFrameworks-1.0.0"
        class="gmx.iderc.geoserver.tjs.xml.v1_0_0.TjsDescribeFrameworksXmlReader">
        <constructor-arg index="0" value="DescribeFrameworks" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="entityResolverProvider" />
    </bean>
    <bean id="tjsDescribeDatasetsXmlReader-1.0.0"
        class="gmx.iderc.geoserver.tjs.xml.v1_0_0.TjsDescribeDatasetsXmlReader">
        <constructor-arg index="0" value="DescribeDatasets" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="entityResolverProvider" />
    </bean>
    <bean id="tjsDescribeDataXmlReader-1.0.0"
        class="gmx.iderc.geoserver.tjs.xml.v1_0_0.TjsDescribeDataXmlReader">
        <constructor-arg index="0" value="DescribeData" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="entityResolverProvider" />
    </bean>
    <bean id="tjsGetDataXmlReader-1.0.0"
        class="gmx.iderc.geoserver.tjs.xml.v1_0_0.TjsGetDataXmlReader">
        <constructor-arg index="0" value="GetData" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="entityResolverProvider" />
    </bean>

    <!-- NOT OK-->
    <bean id="tjsDescribeJoinAbilitiesXmlReader-1.0.0"
        class="gmx.iderc.geoserver.tjs.xml.v1_0_0.TjsDescribeJoinAbilitiesXmlReader">
        <constructor-arg index="0" value="DescribeJoinAbilities" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="entityResolverProvider" />
    </bean>

    <bean id="tjsDescribeKeyXmlReader-1.0.0"
        class="gmx.iderc.geoserver.tjs.xml.v1_0_0.TjsDescribeKeyXmlReader">
        <constructor-arg index="0" value="DescribeKey" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="entityResolverProvider" />
    </bean>

    <bean id="tjsJoinDataXmlReader-1.0.0"
        class="gmx.iderc.geoserver.tjs.xml.v1_0_0.TjsJoinDataXmlReader">
        <constructor-arg index="0" value="JoinData" />
        <constructor-arg index="1" value="1.0.0" />
        <constructor-arg index="2" ref="entityResolverProvider" />
    </bean>

    <bean id="tjsGetCapabilitiesKvpReader" class="gmx.iderc.geoserver.tjs.kvp.GetCapabilitiesKvpRequestReader"/>
    <bean id="tjsGetCapabilitiesResponse" class="gmx.iderc.geoserver.tjs.response.tjsGetCapabilitiesResponse"/>

    <bean id="tjsDescribeFrameworksKvpReader" class="gmx.iderc.geoserver.tjs.kvp.DescribeFrameworksKvpRequestReader"/>
    <bean id="DescribeFrameworksResponse" class="gmx.iderc.geoserver.tjs.response.DescribeFrameworksResponse"/>

    <bean id="tjsDescribeKeyKvpReader" class="gmx.iderc.geoserver.tjs.kvp.DescribeKeyKvpRequestReader"/>
    <bean id="DescribeKeyResponse" class="gmx.iderc.geoserver.tjs.response.DescribeKeyResponse"/>

    <bean id="tjsDescribeDatasetsKvpReader" class="gmx.iderc.geoserver.tjs.kvp.DescribeDatasetsKvpRequestReader"/>
    <bean id="DescribeDatasetsResponse" class="gmx.iderc.geoserver.tjs.response.DescribeDatasetsResponse"/>

    <bean id="tjsDescribeDataKvpReader" class="gmx.iderc.geoserver.tjs.kvp.DescribeDataKvpRequestReader"/>
    <bean id="DescribeDataResponse" class="gmx.iderc.geoserver.tjs.response.DescribeDataResponse"/>

    <bean id="tjsGetDataKvpReader" class="gmx.iderc.geoserver.tjs.kvp.GetDataKvpRequestReader"/>
    <bean id="GetDataResponse" class="gmx.iderc.geoserver.tjs.response.GetDataResponse"/>

    <bean id="tjsDescribeJoinAbilitiesKvpReader"
          class="gmx.iderc.geoserver.tjs.kvp.DescribeJoinAbilitiesKvpRequestReader"/>
    <bean id="DescribeJoinAbilitiesResponse" class="gmx.iderc.geoserver.tjs.response.DescribeJoinAbilitiesResponse"/>

    <bean id="tjsJoinDataKvpReader" class="gmx.iderc.geoserver.tjs.kvp.JoinDataKvpRequestReader"/>
    <bean id="JoinDataResponse" class="gmx.iderc.geoserver.tjs.response.JoinDataResponse"/>

</beans>
